#bigBox {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	color: white;
	font-family: courier;
	letter-spacing: 1px;
	/*font-weight: 100;*/
}

#graphBox {
	background-color: black;
	border: 1px white solid;
	flex:2;
	height: 98%;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#dataBox {
	background-color: black;
	border: 1px darkgray solid;
	flex:1;
	height: 98%;
	margin: 5px;
	display: flex;
	flex-direction: column;
	/*font-family: courier;*/

}

#printBox {
	flex: 1;
	border: 1px transparent solid;
	padding: 30px;
}

#inputBox {
	flex: 1;
	border: 1px transparent solid;
	border-top: 1px darkgray solid;
	padding: 30px;
}

#graphBox:hover {
	border: 1px black solid;
}

#printBox:hover {
	border: 1px white solid;
}

#inputBox:hover {
	border: 1px white solid;
}

.text {
	margin: 0 18px 18px 0;
	padding:8px;
	border: 1px solid steelblue;
	display: inline-block;
}

.axis {
	stroke: #E0E0FF;
	stroke-width: 1px;
}

.bigTick {
	/*stroke: blue;*/
	stroke: #3030B2;
	stroke-width: 1px;
}

.lilTick {
	stroke: #000065;
}

.vector {
	/*fill: yellow;*/
	/*stroke: yellow;*/
	stroke-width: 4px;
	stroke-linecap: round;
}


input {
	font-size: 30px;
	font-family: courier;
}

#submit{
	height:30px;
	width: 370px;
	border: 1px white solid;
	font-size: 24px;
	text-align: center;
	background-color: white;
	color: black;
	cursor: pointer;
}